@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

.header {
  text-align: center;
  box-shadow: 0 0 0.5rem #c0c0c0;
  padding: 1rem;
  margin: 0;
  position: relative;
}
.header .fas {
  color: black;
  position: absolute;
  left: 1rem;
  bottom: 1.5rem;
  font-size: 24px;
}

.location {
  background-color: #eaeaea;
  text-align: center;
  padding: 0.5rem;
}
.location h3 {
  font-weight: 400;
  font-size: 1.5rem;
}
.location h3 i {
  gap: 2rem;
}

.presentation {
  text-align: center;
  padding: 3rem;
  background-color: #f6f6f6;
}
.presentation h2 {
  font-size: 1.8rem;
  font-weight: 600;
}
.presentation p {
  font-size: 1.3rem;
  font-weight: 300;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1;
  animation: disappear 300ms 3s forwards;
}
.loading::after {
  content: "";
  height: 200px;
  width: 200px;
  border-right: 5px solid transparent;
  border-top: 5px solid #ff79da;
  border-bottom: 5px solid #9356dc;
  border-radius: 50%;
  animation: spin 1s infinite linear;
}

button {
  color: white;
  padding: 1rem 2.5rem;
  background-image: linear-gradient(#ff79da, #9356dc);
  border: none;
  border-radius: 2rem;
  font-size: 1.2rem;
  margin-top: 1rem;
  cursor: pointer;
  transition: transform 200ms;
  box-shadow: 3px 6px 2px lightgrey;
}
button:hover {
  opacity: 0.9;
  box-shadow: 5px 10px 5px lightgrey;
}

.btn-heart {
  display: flex;
  position: absolute;
  font-size: 2rem;
  right: 1.5rem;
  cursor: pointer;
}
.btn-heart .fas {
  position: absolute;
  color: transparent;
  background-image: linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 300ms ease-in-out;
}
.btn-heart:hover .fas {
  opacity: 1;
}

.fonctionnement {
  padding: 1rem 1.5rem;
  counter-reset: tuto;
  cursor: pointer;
  transition: transform 200ms;
}
.fonctionnement ol {
  display: flex;
  gap: 2rem;
  cursor: pointer;
}
@media screen and (max-width: 1000px) {
  .fonctionnement ol {
    flex-direction: column;
    padding: 1rem 1.5rem;
  }
}
.fonctionnement li {
  position: relative;
  list-style-type: none;
  background-color: #f6f6f6;
  padding: 2rem;
  flex-grow: 1;
  border-radius: 2rem;
  font-weight: bold;
  box-shadow: 1px 12px 14px 0px #e3e3e3;
}
.fonctionnement li::before {
  content: counter(tuto);
  counter-increment: tuto;
  background-color: #9356dc;
  color: white;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -0.9rem;
  position: absolute;
  bottom: 1.5rem;
}
.fonctionnement li:hover {
  opacity: 0.9;
  box-shadow: 5px 10px 5px lightgrey;
}
.fonctionnement i {
  padding-right: 1rem;
  color: darkgrey;
  font-size: 1.5rem;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 2rem 1.5rem;
}
.restaurants .info_card {
  display: flex;
  padding: 1rem;
  flex-direction: column;
}
.restaurants .info_card h3, .restaurants .info_card p {
  margin: 0.3rem 0rem;
  font-size: 1rem;
}

.restaurants_cards {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  row-gap: 2rem;
}
@media screen and (max-width: 1000px) {
  .restaurants_cards {
    flex-direction: column;
  }
}
.restaurants_cards .restaurant_img {
  height: 14rem;
  width: 100%;
  object-fit: cover;
  border-radius: 1.5rem 1.5rem 0 0;
  background-color: white;
}
.restaurants_cards .card {
  background-color: white;
  text-decoration: none;
  color: inherit;
  position: relative;
  border-radius: 1.5rem;
  width: 50%;
  box-shadow: 1px 12px 14px 0px #e3e3e3;
}
@media screen and (max-width: 1000px) {
  .restaurants_cards .card {
    width: 100%;
  }
}
.restaurants_cards .new_marker {
  background-color: #99e2d0;
  padding: 0.5rem 1rem;
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  color: #3b8468;
  font-size: 1rem;
}

.footer {
  background-color: #353535;
  padding: 0.5rem 0;
}
.footer h3 {
  color: white;
  padding: 1.5rem 2.5rem;
  font-family: "Shrikhand", "cursive";
  font-weight: 500;
  font-style: italic;
  margin: 0;
}
.footer ul {
  list-style-type: none;
  margin: 0;
  margin-bottom: 1rem;
}
.footer li {
  padding: 0.3rem 0;
}
.footer a {
  color: white;
  text-decoration: none;
}
.footer .fas {
  padding-right: 0.5rem;
}

@keyframes appear {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes disappear {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.restaurant_img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}

.menu_header {
  display: flex;
  align-items: center;
  margin-top: -2rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  position: relative;
}
.menu_header h1 {
  font-family: "shrikhand", "cursive";
  padding: 1rem 1rem;
  font-size: 1.7rem;
  display: flex;
  font-weight: 400;
}

.menus {
  background-color: #f6f6f6;
  padding-bottom: 3rem;
}

.menu_category {
  padding: 1rem 1rem;
}
.menu_category h3, .menu_category p {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu_category p {
  font-weight: 300;
  margin-top: 0.5rem;
}
.menu_category h2 {
  font-weight: 300;
  font-size: 1.2rem;
  margin: 0;
  position: relative;
  bottom: 1rem;
  padding: 0.5rem 0;
}
.menu_category h2::after {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99e2d0;
  position: absolute;
  left: 0;
  bottom: 0;
}

.menu-card {
  background-color: white;
  border-radius: 1rem;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  display: flex;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 1px 12px 14px 0px #e3e3e3;
  animation: appear 1s;
  animation-fill-mode: both;
}
.menu-card:nth-child(1) {
  animation-delay: 100ms;
}
.menu-card:nth-child(2) {
  animation-delay: 200ms;
}
.menu-card:nth-child(3) {
  animation-delay: 300ms;
}
.menu-card:nth-child(4) {
  animation-delay: 400ms;
}
.menu-card .menu-card_check {
  background-color: #99e2d0;
  margin: -1rem -1rem -1rem 1rem;
  display: flex;
  width: 5rem;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
  border-radius: 0 1rem 1rem 0;
  margin-right: -6rem;
}
.menu-card .menu-card_check i {
  color: white;
  font-size: 2rem;
}
.menu-card:hover .menu-card_check {
  margin-right: -1rem;
}
.menu-card:hover i {
  transform: rotate(360deg);
  transition: 0.5s ease-in-out;
}
.menu-card .price {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
  font-weight: 600;
}

.menu-card_description {
  overflow: hidden;
  display: flex;
  white-space: nowrap;
  flex-direction: column;
}

.command {
  text-align: center;
  height: 40%;
}

/*# sourceMappingURL=style.css.map */
