@import "./base/base";
@import "./layout/header";
@import "./layout/location";
@import "./layout/presentation";
@import "./composants/button";
@import "./composants/fonctionnement";
@import "./layout/restaurants";
@import "./layout/footer";
@import "./pages/menus";