.footer {
    background-color: #353535;
    padding: 2rem 0;
    
    & h3 {
        color: white;
        padding: 1.5rem 2.5rem;
        font-family: "Shrikhand", "cursive";
        font-weight: 500;
        font-style: italic;
        margin: 0;
    }
    
    & ul {
        list-style-type: none;
        margin: 0;
        margin-bottom: 1rem;
    }

    & li {
        padding: 0.3rem 0;
    }

    & a {
        color: white;
        text-decoration: none;
    }

    & .fas {
        padding-right: 0.5rem;
    }

    }