.header {
    text-align: center;
    box-shadow: 0 0 0.5rem #c0c0c0;
    padding: 1rem;
    margin: 0;
    position: relative;
    & .fas {
        color: black;
        position: absolute;
        left: 1rem;
        bottom: 1.5rem;
        font-size: 24px;
    }
}