.location {
    background-color: #eaeaea;
    text-align: center;
    padding: 0.5rem;

    & h3 {
        font-weight: 500;
        font-size: 1.3rem;

        i {
            padding-right: 1rem;

        }
    }
}