.restaurants {
    background-color: #f6f6f6;
    padding: 2rem 1.5rem 4rem;

    .info_card {
        display: flex;
        padding: 1rem;
        flex-direction: column;

        h3,
        p {
            margin: 0.3rem 0rem;
            font-size: 1rem;
        }


    }
}


.restaurants_cards {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    row-gap: 2rem;

    @media screen and (max-width: 992px) {
        flex-direction: column;
    }

    .restaurant_img {
        height: 200px;
        width: 100%;
        object-fit: cover;
        border-radius: 1.5rem 1.5rem 0 0;
        background-color: white;
    }

    .card {
        background-color: white;
        text-decoration: none;
        color: inherit;
        position: relative;
        border-radius: 1.5rem;
        width: 100%;
        @include box-shadow;
    }

    .new_marker {
        background-color: ($color-tertiary);
        padding: 0.5rem 1rem;
        position: absolute;
        top: 0.5rem;
        right: 1rem;
        color: #3b8468;
        font-size: 1rem;
    }
}