@import "../utils/box-shadow";
@import "../utils/variables";

.presentation button {
    color: white;
    padding: 1rem 2rem;
    background-image: linear-gradient($color-secondary,$color-primary);
    border: none;
    border-radius: 2rem;
    font-size: 1.3rem;
    margin-top: 1rem;
    @include box-shadow;
}