@import "../utils/box-shadow";
@import "../utils/variables";

button {
    color: white;
    padding: 1rem 2rem;
    background-image: linear-gradient($color-secondary,$color-primary);
    border: none;
    border-radius: 2rem;
    font-size: 1.3rem;
    margin-top: 1rem;
    cursor: pointer;
    transition: transform 200ms;
    box-shadow: 3px 6px 2px lightgrey;
    &:hover {
        transform: scale(1.02);
        opacity: 0.9;
        box-shadow: 5px 10px 5px lightgrey;
    }
}