@import "../utils/variables";

.fonctionnement {
    padding: 1rem 1.5rem 2rem;
    counter-reset: tuto;
    cursor: pointer;
    transition: transform 200ms;
   
    & ol {
        display: flex;
        gap: 2rem;
        cursor: pointer;
        margin-bottom: 2rem;
        @media screen and (max-width:768px) {
            flex-direction: column;
            padding: 1rem 1.5rem;
        }
    }
    & li {
        position: relative;
        display: flex;
        &::before {
            content: counter(tuto);
            counter-increment: tuto;
            background-color: $color-primary;
            color: white;
            height: 2rem;
            width: 2rem;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            left: -.90rem;
            position: absolute;
            bottom: 1.5rem;
        }
        list-style-type: none;
        background-color: #f6f6f6;
        padding: 2rem;
        flex-grow: 1;
        border-radius: 2rem;
        font-weight: bold;
        @include box-shadow;
        &:hover {
            opacity: 0.9;
            box-shadow: 1px 9px 7px 0 lightgrey;
            background-color: #f5edff;
        }
    }

    & i {
        padding-right: 1rem;
        color: darkgrey;
        font-size: 1.3rem;
        &:hover {
            color: $color-primary;
        }
    }
}
