@import "../utils/mixins";

.resto_1 {
    width: 100%;
    height: 15rem;
    object-fit: cover;
}

.menu_header {
    display: flex;
    align-items : center;
    margin-top: -2rem;
    border-radius: 2rem 2rem 0 0;
    background-color: #f6f6f6;
    position: relative;
    & h1 {
        font-family: "shrikhand", "cursive";
        padding: 1rem 1rem;
        font-size: 1.7rem;
        display: flex;
        font-weight: 400;
    }
    
    & i {
        @include heart;
    }

}

.menus {
    background-color: #f6f6f6;
    padding-bottom: 3rem;
}


.menu_category {
    padding: 1rem 1rem;
    & h3, p {
        margin: 0;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    & p {
        font-weight: 300;
        margin-top: 0.5rem;
    }
    & h2 {

        font-weight: 300;
        font-size: 1.2rem;
        margin: 0;
        position: relative;
        bottom: 1rem;
        padding: 0.5rem 0;
        &::after {
            content:"";
            width: 3rem;
            height: 0.25rem;
            background-color: $color-tertiary;
            position: absolute;
            left: 0;
            bottom: 0;
        }
        
    }
    
}

.menu-card {
    background-color: white;
    border-radius: 1rem;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    display: flex;
    overflow: hidden;
    .menu-card_check {
        background-color: $color-tertiary;
        margin: -1rem -1rem -1rem 1rem;
        display: flex;
        width: 5rem;
        align-items: center;
        justify-content: center;
        transition-duration: 1s;
        border-radius: 0 1rem 1rem 0;
        margin-right: -6rem;
        
        & i {
            color: white;
            font-size: 2rem;
        }
    
    }
    &:hover .menu-card_check {
        margin-right: -1rem;
    }
    
    @include box-shadow;
    & .price {
        display: flex;
        align-items: flex-end;
        margin-left: auto;
        font-weight: 600;
    }
    
    
}

.menu-card_description {
    overflow: hidden;
    display: flex;
    white-space: nowrap;
    flex-direction: column;
}


.command {
    text-align: center;
    height: 40%;
}

    


