@import "../utils/mixins";

.resto_1 {
    width: 100%;
    height: 15rem;
    object-fit: cover;
}

.menu_header {
    display: flex;
    align-items : center;
    margin-top: -2rem;
    border-radius: 2rem 2rem 0 0;
    background-color: #f6f6f6;
    position: relative;
    & h2 {
        font-family: "shrikhand", "cursive";
        padding: 1rem 1rem;
        font-size: 1.7rem;
        display: flex;
        font-weight: 400;
    }
    
    & i {
        @include heart;
    }

}

.menus {
    background-color: #f6f6f6;
    padding-bottom: 2rem;
}


.menu_category {
    padding: 1rem 1rem;
    & h3, p {
        margin: 0;
    }
    & p {
        font-weight: 300;
    }
    & h2 {
        font-weight: 300;
        font-size: 1.2rem;
        
    }

}
.menu-card {
    background-color: white;
    border-radius: 1rem;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    display: flex;
    @include box-shadow;
    & .price {
        display: flex;
        align-items: flex-end;
        margin-left: auto;
        font-weight: 600;
    }

}

.command {
    text-align: center;
    height: 40%;
}

    


