@mixin box-shadow {
    box-shadow: 1px 12px 14px 0px #e3e3e3;
}

@mixin heart {

    position: absolute;
    right: 1.5rem;
    font-size: 2rem;
    &:hover {
        transition: all 200ms ease-in-out;
        background-image: linear-gradient($color-primary, $color-secondary);
        opacity: 1;
        transform: scale (1.2);
   }
}